@import "variables";
@import "reset";

*{
    box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: green;
  font-family: sans-serif;
  background-color:lightgrey;
  background: radial-gradient(circle at 64.02% 88.03%, #83B34B, transparent 100%),radial-gradient(circle at 35.99% 27.79%, #2560A9, transparent 100%),radial-gradient(circle at 50% 50%, #709F6B, #2560A9 100%);
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    padding-left: 50px;
    height: 80px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .header a {
    float: left;
    padding: 6px ;
    text-decoration: none;
    line-height: 25px;
    border-radius: 4px;
    padding-left: 50px;

  }

  .header-right a:hover {
    background-color: lightgrey;
    color: black;
  }
  
  .header-right {
    float: right;
    padding: 6px ;
  }

  .header-right a {
    padding: 10px 30px;
    text-decoration: none;
    line-height: 25px;
  }
 
  @media screen and (max-width: 100px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
/*
    .search-box{
      float: none;
      max-width: 50px;
      width: 100%;
    }
  */  
  }
  
  /*sidemenu */
.sideMenu {
  
  background: #F2FCF2;
  width: 80px;
  height:100%;  
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  float: left;/*
  margin-block-start: auto;
  padding: 100% 10%;*/

}

li {
  padding: 15px;
  display: block;
}

.sideMenu li:hover {
  background-color: lightgrey;
  color: black;
  border-radius: 20px;
  line-height: 25px;
}  

/* main */
section{
	background: #fff;
  padding: 15px 15px;
  margin: 15px;
  margin-left: 100px;

}

.welcome{
  margin-top: -5px;
}

.row{
  margin: 0px 15px 0px 15px;
  display: flex;
  flex-direction: row;
}

.site{
  background:white;
  display: inline-block;
  width: 300px;
  height: 150px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 30px 20px 30px;
  padding: 15px;
}

.col{
  background:rgb(144, 180, 144);
  display: inline-block;
  width: 200px;
  height: 300px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px 50px 20px 50px;
}

/*
@media screen and (max-width: 100px) {
  .welcome {
    float: none;
    display: block;
    text-align: left;
  }
  
  .site {
    float: none;
  }
}*/