@import "variables";
@import "reset";

*{
    box-sizing: border-box;
}

body {
    background: $black;
}

#sideMenu {
    background: $greenblue;
    max-width: 200px;

    nav {
        padding-top: 100px;
        a{
            display: block;
            color: grey;
            text-decoration: none;
            padding: 15px 30px;
        }

        &.active {
            background: yellow;
            border-left: 5px solid blue($color: #000000);
            padding: 15px 30px 15px 25px;
        }

    }
}