
/*
svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
  
  }
  
svg circle {
    width: 100%;
    height: 100%;
    fill: none;
    stroke: grey;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px,5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
}

  .card:nth-child(1) svg circle:nth-child(2){
      stroke: #00ff43;
  }
  .card:nth-child(2) svg circle:nth-child(2){
    stroke: blue;
    }
  .card:nth-child(3) svg circle:nth-child(2){
      stroke: red;
  }
  */
  
 .site .site_head{
  position: absolute;
    
  }
 /* Style The Dropdown Button */
.site_head.dropbtn {
    position: absolute;
    top:5%;
    left: 70%;
    background-color: #00ff08;
    color: black;
    padding: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
      
  }
  
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
    /*grid-column: 2;
    grid-row: 1 / 3;*/
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 5px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color:lightgreen;
    border-radius: 2px;
  }
  /*
  .card{
    background:white;
    display: inline-block;
    width: 250px;
    height: 150px;
    box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    margin: 10px 25px 10px 25px;
    padding: 5px 25px;
  }
  .card a{
    position: relative;
  }*/
  .capcity{
    grid-column: 1;
    grid-row: 3 / 3; 
    width: 5px;
    height: 5px;

  }
  .condition{

    grid-column: 2;
    grid-row: 2 / 3;
    width: 5px;
    height: 5px;

  }

/*
  .site {
    display: grid;
    grid-template-columns: 60px 60px ;
    grid-template-rows: 30px 30px 30px;
    grid-auto-flow: row;
  }

  .site_name {
    grid-column: 1;
    grid-row: 1 / 3;
  }