@import "variables";
@import "reset";

*{
    box-sizing: border-box;
}

html,
body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: black;
  font-family: sans-serif;
  background-color:lightgrey;
  background: white;
}

.header {
    overflow: hidden;
    background-color: white;
    padding: 10px 10px;
    padding-left:80px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .header a {
    float: left;
    padding: 6px ;
    text-decoration: none;
    line-height: 25px;
  }
 
  .header-right a:hover:not(.search-box) {
    background-color: lightgrey;
    color: black;
    border-radius: 10px;

  }

  .header-right {
    float: right;
    padding: 3px ;
  }

  .header-right a {
    text-decoration: none;
    line-height: 25px;
  }
 
  input[type=text] {
    width: 100%;
    font-size: 15px;
  }
  
  .search-box{
    float:left;
    min-width: 300px;
    display: flex;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    margin-right: 10px;
  }

  .search-box button {
    padding: 6px 6px;
    margin: 2px 5px;
    background:white;
    font-size: 15px;
    cursor: pointer;
    border: none;
  }

  .search-box button:hover {
    background: #ccc;
    border-radius: 35px;
  }

  @media screen and (max-width: 100px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
      float: none;
    }
/*
    .search-box{
      float: none;
      max-width: 50px;
      width: 100%;
    }
  */  
  }
  
  /*sidemenu */
.sideMenu {
  position: fixed;
  background: #F2FCF2;
  width: 80px;
  height:100%;  
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
  float: left;
  padding: 50px 6px;
}

li {
  padding: 15px;
  display: block;
}

.sideMenu li:hover {
  background-color: lightgrey;
  color: black;
  border-radius: 20px;
  line-height: 25px;
}  

/* main */
section{
	background: #fff;
  padding: 15px 15px;
  margin: 15px;
  margin-left: 100px;
  border-radius: 35px;

}

.welcome{
  margin-top: -5px;
}

.container{
  text-align: left;
  align-content: center;
  padding: 2px 2px;
}

.sites_row{
  padding: 5px 25px;
  display: flex;
  flex-direction: row;
}

.site{
  background:white;
  display: inline-block;
  width: 300px;
  height: 150px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 10px 25px 10px 25px;
  padding: 15px;
}

.notifications_row{
  padding: 5px 18px;
  display: flex;
  flex-direction: row;
}
.col{
  background:rgb(144, 180, 144);
  display: inline-block;
  width: 480px;
  height: 300px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 10px 25px 10px 25px;
  padding: 15px;

}

/*
@media screen and (max-width: 100px) {
  .welcome {
    float: none;
    display: block;
    text-align: left;
  }
  
  .site {
    float: none;
  }
}*/

/*footer*/

footer{
  background: radial-gradient(circle at 64.02% 88.03%, #83B34B, transparent 100%),radial-gradient(circle at 35.99% 27.79%, #2560A9, transparent 100%),radial-gradient(circle at 50% 50%, #709F6B, #2560A9 100%);
  border-radius: 35px;
  color: white;

}
.foot{
  padding: 5px 30px;
  display: flex;
  flex-direction: row;  
  display: inline-block;

}
.support{
  display: inline-block;
  border: black;
  width: 200px;
  height: 180px;
  box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 10px 25px 10px 25px;
  padding: 15px;
}

h1{
  text-align: center;
}

h2{
  text-align: left;
  padding-left: 30px;

}

i{
  margin-left: 55px;
}
.foot :hover{
  background-color: lightgrey;
  color: black;
  border-radius: 20px;
  opacity: 0.2;
}