{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}

<head>
       <!-- Title Page-->
       <title>Dashboard</title>
</head>

<!-- PAGE CONTAINER-->
<div class="page-container">

    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="overview-wrap">
                            <h2 class="title-1">overview</h2>
                            
                        </div>
                    </div>
                </div>
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fas fa-account"></i>
                                    </div>
                                    
                                    <div class="text">
                                        <h2>Site 1</h2>
                                        <span>Location</span>
                                        <div class="site_dropdown">
                                            <button class="btn btn-default" type="button" data-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v" style="font-size: 25px; color:white"></i></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="/site">Details</a>
                                                    <a class="dropdown-item" href="#">Settings</a>
                                                </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="overview-chart">
                                    <div class = "row">
                                        <div class="col-md-6">
                                            <div class="capacity">
                                                <div class="text"><p>Capacity</p>
                                                <i class="far fa-circle" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="condition">
                                                <div class="text"><p>Condition</p>
                                                <i class="far fa-smile" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<canvas id="widgetChart1"></canvas>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fas fa-account"></i>
                                    </div>
                                    
                                    <div class="text">
                                        <h2>Site 2</h2>
                                        <span>Location</span>
                                        <div class="site_dropdown">
                                            <button class="btn btn-default" type="button" data-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v" style="font-size: 25px; color:white"></i></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Details</a>
                                                    <a class="dropdown-item" href="#">Settings</a>
                                                </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="overview-chart">
                                    <div class = "row">
                                        <div class="col-md-6">
                                            <div class="capacity">
                                                <div class="text"><p>Capacity</p>
                                                <i class="far fa-circle" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="condition">
                                                <div class="text"><p>Condition</p>
                                                <i class="far fa-smile" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<canvas id="widgetChart1"></canvas>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="overview-item overview-item--c1">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="fas fa-account"></i>
                                    </div>
                                    
                                    <div class="text">
                                        <h2>Site 3</h2>
                                        <span>Location</span>
                                        <div class="site_dropdown">
                                            <button class="btn btn-default" type="button" data-toggle="dropdown">
                                                <i class="fas fa-ellipsis-v" style="font-size: 25px; color:white"></i></button>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">Details</a>
                                                    <a class="dropdown-item" href="#">Settings</a>
                                                </div>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="overview-chart">
                                    <div class = "row">
                                        <div class="col-md-6">
                                            <div class="capacity">
                                                <div class="text"><p>Capacity</p>
                                                <i class="far fa-circle" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-md-5">
                                            <div class="condition">
                                                <div class="text"><p>Condition</p>
                                                <i class="far fa-smile" style="font-size: 80px; color:white"></i></div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="row">
                    <div class="col-lg-6">
                        <h2 class="title-1 m-b-25">Notifications</h2>
                        <div class="user-data m-b-20">
                            <div class="filters m-b-5">
                                <div class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border">
                                    <select class="js-select2" name="property">
                                        <option selected="selected">Mark as</option>
                                        <option value="">Unread</option>
                                        <option value="">read</option>
                                        <option value="">Completed</option>

                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                                    <select class="js-select2 au-select-dark" name="time">
                                        <option selected="selected">All Time</option>
                                        <option value="">By Month</option>
                                        <option value="">By Day</option>
                                    </select>
                                    <div class="dropDownSelect2"></div>
                                </div>
                            </div>
                            <div class="table-responsive table-data">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox" id="selectAll">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>name</td>
                                            <td>date</td>
                                            <td>progress</td>
                                            <td></td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Update</h6>
                                                    <span>
                                                        <a href="#">Contact customer services</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2020-02-29 04:57</a></span>

                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                            <!-- 
                                            <td>
                                                <span class="more">
                                                    <i class="zmdi zmdi-more"></i>
                                                </span>
                                            </td>
                                            -->
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox" checked="checked">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Data transfer</h6>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a> 2020-06-29 21:54</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Exported data</h6>
                                                    <span>
                                                        <a>site 1</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2019-01-28 11:34</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                            
                                        </tr>
                                        <tr>
                                            <td>
                                                <label class="au-checkbox">
                                                    <input type="checkbox">
                                                    <span class="au-checkmark"></span>
                                                </label>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <h6>Ammeded data</h6>
                                                    <span>
                                                        <a>Site 3</a>
                                                    </span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="table-data__info">
                                                    <span><a>2018-11-18 15:54</a></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="rs-select2--trans rs-select2--sm">
                                                    <select class="js-select2" name="property">
                                                        <option selected="selected">Incomplete</option>
                                                        <option value="">Completed</option>
                                                        <option value="">Ongoing</option>
                                                    </select>
                                                    <div class="dropDownSelect2"></div>
                                                </div>
                                            </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            <!--<div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div>-->
                        </div>
                    </div>
                    
                    <div class="col-lg-6">
                        <h2 class="title-1 m-b-25">Last User Access</h2>
                        
                        <div class="table-responsive table--no-card m-b-20">
                            <table class="table table-borderless table-striped table-earning">
                                <thead>
                                    <tr>
                                        <th>date</th>
                                        <th>name</th>
                                        <th class="text-right">location</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>2018-09-29 05:57</td>
                                        <td>Jenny</td>
                                        <td class="text-right">Edinburgh</td>
                                    </tr>
                                    <tr>
                                        <td>2017-09-28 01:22</td>
                                        <td>John</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27 02:12</td>
                                        <td>Jane</td>
                                        <td class="text-right">Singapore</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26 23:06</td>
                                        <td>Jason</td>
                                        <td class="text-right">New York</td>
                                    </tr>
                                    <tr>
                                        <td>2019-09-25 19:03</td>
                                        <td>Jacob</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-29 05:57</td>
                                        <td>Jack</td>
                                        <td class="text-right">Lisbon</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-24 19:10</td>
                                        <td>Jessica</td>
                                        <td class="text-right">Manchester</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-29 05:57</td>
                                        <td>Jenny</td>
                                        <td class="text-right">Edinburgh</td>
                                    </tr>
                                    <tr>
                                        <td>2017-09-28 01:22</td>
                                        <td>John</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                    <tr>
                                        <td>2018-09-27 02:12</td>
                                        <td>Jane</td>
                                        <td class="text-right">Singapore</td>
                                    </tr>
                                    <tr>
                                        <td>2020-09-26 23:06</td>
                                        <td>Jason</td>
                                        <td class="text-right">New York</td>
                                    </tr>
                                    <tr>
                                        <td>2019-09-25 19:03</td>
                                        <td>Jacob</td>
                                        <td class="text-right">London</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--<div class="user-data__footer">
                                <button class="au-btn au-btn-load">load more</button>
                            </div> -->
                        </div>
                        
                    </div>
                </div>    
                <div class="row">

                    <div class="col-lg-12">
                        <h2 class="title-1 m-b-25">Customer Support</h2>
                        <footer>                        
                        <div class = "foot">
                            <div class="col-lg-3"><button type ="button" data-toggle="modal" data-target="#exampleModal"><div class=support><a><h1>Help</h1><i class="fa fa-info-circle fa-4x" ></i></a></div></button></div>
                            <div class="col-lg-3"><div class=support><a><h1>Call Us</h1><i class="fa fa-phone fa-4x"></i></a></div></div>
                            <div class="col-lg-3"><div class=support><a><h1>Open a ticket</h1><i class="fa fa-exclamation-triangle fa-4x"></i></a></div></div>
                            <div class="col-lg-3"><div class=support><a><h1>Email Us</h1><i class="fa fa-envelope fa-4x"></i></a></div></div>
                        </div>
                        </footer>
                    </div>
                </div>
                            
                
            </div>
        </div>
    </div>
    <!-- END MAIN CONTENT-->
</div>   

<!-- end document-->

{% endblock content_nav %}