<!-- fixed navigation bar and header (reduce rendering .html)-->
{% load static %}

<!doctype html>
<html>
<head>
    <title> Crover </title>
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <div class="header">
        <class="crover_logo"><a href="home.html"><img src="static/images/crover_logo.png" width="300" height="50" title="crover_logo" alt="crover_logo"></a>
        <div class="header-right">
         
            <a class="search-box">
                <button type="submit"><i class="fa fa-search"></i></button>
                <input class= "search-text" type="text" placeholder="Search..." name="search">
                <button type="clear"><i class="fa fa-remove"></i></button>
            </a>
         
            <a href="#notifications"><img src="static/images/bell_icon.png" width="25" height="25" title="Notifications" alt="notications_icon"></a>
            <a href="/contact"><img src="static/images/contact_icon.png" width="25" height="25" title="Contact" alt="contact_icon"></a>


        </div>
      </div>

      <div class="sideMenu">
        <nav>
            <li class="menu-link"><a href="app.html"><img src="static/images/dashboard_icon.png" width="40" height="40" title="Dashboard" alt="dashboard_icon"></a></li>
            <li class="menu-link"><a href="#charts"><img src="static/images/charts_icon.png" width="40" height="40" title="Charts" alt="charts_icon"></a></li>
            <li class="menu-link"><a href="#account"><img src="static/images/account_icon.png" width="40" height="40" title="Account" alt="account_icon"></a></li>
            <li class="menu-link" href="#settings"><img src="static/images/settings_icon.png" width="40" height="40" title="Settings" alt="settings_icon"></a></li>
        </nav>
      </div>

    {% block content_nav %}
    replace me <!--default-->
    {% endblock content_nav %}
    
    </body>
</html>