{% extends 'base.html' %}
{% block content_nav %}      
{% load static %}
<!-- PAGE CONTAINER-->
<div class="page-container">
    <!-- MAIN CONTENT-->
    <div class="main-content">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <!--ROW1-->
                <div class="row m-t-25">
                    <div class="col-sm-6 col-lg-6">
                        <div class="text">
                            <h2>Site 1</h2>
                        </div>
                        <div class="overview-item overview-item--c2">
                            <div class="overview__inner">
                                <div class="overview-box clearfix">
                                    <div class="icon">
                                        <i class="zmdi zmdi-shopping-cart"></i>
                                    </div>
                                    <div class="text">
                                        <h2>Details</h2>
                                        <ul><span><li>Location</li></span>
                                        <span><li>Manager</li></span>
                                        <span><li>Location</li></span></ul>            
                                    </div>
                                </div>
                                <div class="overview-chart">
                                    <!--<canvas id="widgetChart2"></canvas>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--map-->
                    <div class="col-sm-6 col-lg-6">

                        <!--Card-->
                        <div class="card">
                          <!--Card content-->
                          <div class="card-body card-body-cascade">
                    
                            <!--Google map-->
                            <div id="map-container-google-9" class="z-depth-1-half map-container-5" style="height: 300px">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2235.5555091706524!2d-3.1906649842430146!3d55.92240718636582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4887c746e9104569%3A0xaf7eebbee0f74b05!2sCrover%20Ltd!5e0!3m2!1sen!2suk!4v1593470964827!5m2!1sen!2suk" width="600" height="400" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                            </div>
                    
                    
                          </div>
                          <!--/.Card content-->
                    
                        </div>
                        <!--/.Card-->
                    
                      </div>
                </div>
                <!-- END ROW1-->
                <!-- ROW2-->
                <div class="row">
                    <div class="col-md-12">
                        
                        <!-- DATA TABLE -->
                        <div class="user-data">
                            <div class="au-card">
                                <div class="table-data__tool">
                                    <div class="table-data__tool-left">
                                        <h2 class="title-5 m-b-35">Storage Site Units</h2>
                                    </div>
                                    <div class="table-data__tool-right">
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-filter"></i>
                                            </a>
                                            <div class="dropdown-menu">
                                                <li class="dropdown-header">Sort by</li>
                                                <a class="dropdown-item" href="#">Temperature: Low to High</a>
                                                <a class="dropdown-item" href="#">Moisture: Low to High</a>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Filter by</li>
                                                <a class="dropdown-item" href="#">Condition: Safe</a>
                                                <a class="dropdown-item" href="#">Condition: Warning</a>
                                            </div>
                                        </div>
                                        <div class="dropdown show">
                                            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Export As
                                            </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">.PDF</a>
                                                <a class="dropdown-item" href="#">.txt</a>
                                                <a class="dropdown-item" href="#">.csv</a>
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>
                                <div class="table-responsive table-data">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Storage</th>
                                                <th>Grain</th>
                                                <th>Temp</th>
                                                <th>Moist</th>
                                                <th>Tonnes</th>
                                                <th>Condition</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa fa-smile"></i>&nbsp; Safe</button>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--red">High Risk!</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--yellow">Warning</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--yellow">Warning</span>
                                                </td>
                                            </tr><tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <button type="button" class="btn btn-success">
                                                        <i class="fa fa-smile"></i>&nbsp; Safe</button>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--red">High Risk!</span>
                                                </td>
                                            </tr>
                                            <tr class="spacer"></tr>
                                            <tr class="tr-shadow">
                                                <td>Steel Silo 1</td>
                                                <td class="desc">Winter Wheat</td>
                                                <td>14.1° (±1.5)</td>
                                                <td>15.3% (±2.3)</td>
                                                <td>6790.5</td>
                                                <td>
                                                    <span class="status--yellow">Warning</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        <!-- END DATA TABLE -->
                        </div>
                    </div>
                </div>
                <!--END ROW2-->
            </div>     
        </div>
    </div>
    <!--END MAIN CONTENT-->
</div>
<!-- END PAGE CONTAINER-->

{% endblock content_nav %}